.container-wrapper {
  display: flex;
  margin-top: 20px;
}

.list {
  width: 400px;
  margin-right: 25px;
  border: 1px solid #ccc;
  min-height: 60px;
}

.item {
  margin-bottom: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.content-wrapper {
  width: 1000px;
  margin: auto;

}
